.playlists__table {
  max-height: 690px;
  overflow-y: scroll;
  background-color: white;
  margin-bottom: 20px;
}

.playlists__table > table {
  margin-bottom: 0;
}

.playlists__row {
  cursor: pointer;
}

.playlists__row--active {
  background-color: #cccccc;
  font-weight: bold;
}

.playlists__table > table tr:first-of-type > td {
  border-top-width: 0;
}