.playlists__pane {
  padding: 0 10px 10px 10px;
}

.playlists__pane h4 {
  margin-top: 0;
}

.playlists__table {
  max-height: 690px;
  overflow-y: scroll;
  margin-bottom: 20px;
}

.playlists__table > table {
  margin-bottom: 0;
}

.playlists__row {
  cursor: pointer;
}

.playlists__table > table tr:first-of-type > td {
  border-top-width: 0;
}