.tracks__change-playlist-btn {
  margin-left: 10px;
}

.tracks__table {
  width: 98%;
  height: 346px;
  overflow-y: scroll;
  margin-bottom: 20px;
}

.tracks__table p {
  margin-bottom: 0;
}

.tracks__table small {
  color: #444;
}

.tracks__table .table td {
  padding-top: 4px;
  padding-bottom: 4px;
}

.tracks__table > table {
  margin-bottom: 0;
}

.tracks__table > table tr:first-of-type > td {
  border-top-width: 0;
}
