.filters__pane {
  padding: 0 25px;
}

.filters__filter {
  border: 0px solid hsl(209, 15%, 20%);
  border-top-width: 1px;
  padding: 15px 5px 15px 5px;
  /*margin: 0 25px;*/
  background-color: hsl(209, 25%, 16%);
}

.filters__filter:first-of-type {
  border-radius: 5px 5px 0 0;
  border-top-width: 0;
}

.filters__filter:last-of-type {
  border-radius: 0 0 5px 5px;
  /*border-bottom-width: 1px;*/
}

.filters__filter h4 {
  color: #ccc;
  margin-top: 0;
}

.filters__checkbox-container {
  display: inline-block;
}

.chart___checkbox {
  display: inline-block;
  text-align: right;
  padding: 0;
}

.filters__filter .fa.fa-line-chart {
  position: relative;
  /*bottom: 4px;*/
  transform: scale(1.1);
  font-size: 1.2em;
  border-radius: 10px;
  /*padding: 8px;*/
  color: #555;
}

.filters__filter .fa.fa-line-chart.is-graphed.danceability {
  color: #5bc0de;
}

.filters__filter .fa.fa-line-chart.is-graphed.energy {
  color: #d9534f;
}

.filters__filter .fa.fa-line-chart.is-graphed.valence {
  color: #5CB85C;
}

.filters__filter .fa.fa-line-chart.is-graphed.acousticness {
  color: #f0ad4e;
}

.filters__filter .fa.fa-line-chart.is-graphed.liveness {
  color: #DF691A;
}

.filters__filter .fa.fa-line-chart.is-graphed.instrumentalness {
  color: #EBEBEB;
}

.filters__filter .fa.fa-line-chart:hover {
  color: #999;
}

.filters__filter-icon {
  width: 40px;
  /*display: inline-block;*/
}

.rc-slider {
  position: relative;
  bottom: 9px;
}

.rc-slider.filters__range {
  width: 80%;
  margin: 0 auto;
}

.rc-slider.filters__range * {
  font-size: 14px;
}

.rc-slider .rc-slider-rail {
  background-color: hsl(120, 4%, 40%);
  height: 2px;
}

.rc-slider .rc-slider-track {
  /*background-color: #bbbbbb;*/
  width: 100%;
  height: 4px;
  bottom: 6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  box-shadow-color: #d9534f;
  background: #ababab;
  border-radius: 1.3px;
  border: 1px solid #010101;
}

.rc-slider .rc-slider-handle {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000001;
  /*border-radius: 0;*/
  height: 24px;
  width: 9px;
  background: #bbbbbb;
  -webkit-appearance: none;
  margin-top: -9.5px;
}

.rc-slider .rc-slider-handle-1 {
  border-radius: 6px 0 0 6px;
}

.rc-slider .rc-slider-handle-2 {
  border-radius: 0 6px 6px 0;
}

.rc-slider-tooltip .rc-slider-tooltip-inner {
  background-color: rgba(0,0,0,0);
  box-shadow: none;
  color: #999;
  position: relative;
  bottom: 6px !important;
}

.flex-container {
  /*padding: 10px 0 20px 0;*/
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: start;
  align-items: center;
}

.filters__flex-left {
  /*border: 1px solid blue;*/
  /*position: relative;*/
  /*top: 8px;*/
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.filters__flex-right {
  /*border: 1px dashed red;*/
  /*padding: 10px;*/
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 7 1 auto;
  -ms-flex: 7 1 auto;
  flex: 7 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}