.filters__pane {
  padding: 0 10px 10px 10px;
}

.filters__filter {
  margin-bottom: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0px 10px;
}
/*#5cb85c*/
.rc-slider.filters__range {
  width: 80%;
  margin: 0 auto 30px auto;
}

.rc-slider.filters__range * {
  font-size: 14px;
}

.rc-slider .rc-slider-rail {
  background-color: #cbd2cb;
}

.rc-slider .rc-slider-track {
  background-color: #5cb85c;
}