@import 'variables.scss';

.chart__pane {
  padding-top: 10px;
}

.recharts-default-legend {
  min-width: 175px;
  padding-left: 20px !important;

  .recharts-legend-item {
    letter-spacing: .5px;
    color: $text-light;
  }
}
