.auth-view__wrapper {
  max-width: 1500px;
  margin: 0 auto;
  border: 1px solid hsl(209, 15%, 40%);
  background-color: #2B3E50;
}

@media(min-width: 769px) {
  .not-sidebar{
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 20px;
  }
}

.selected-tracks-count {
  margin-right: 15px;
  position: relative;
  bottom: 5px;
  font-size: 12px;
  color: #ccc;
}