.pre-auth-view {
  background-image: url('/clem-onojeghuo-173534.jpg');
  background-size: cover;
  height: 100vh;
  padding-top: 50px;
}

@media (max-width: 768px) {
  .pre-auth-view {
    padding-top: 0px;
    background-image: none;
  }
}

.pre-auth-view__container {
  max-width: 900px;
  border: 1px solid hsl(209, 15%, 40%);
  background-color: hsla(209, 30%, 24%, .92);
  /*margin-top: 50px;*/
  margin-bottom: 20px;
  padding: 10px 30px 30px 30px;
  border-radius: 10px;
}

.pre-auth-view__header {
  padding: 0 30px 0 30px;
}

.pre-auth-view__img {
  max-width: 60px;
}

.pre-auth-view__filters {
  border: 1px solid hsl(209, 15%, 40%);
  padding: 10px;
  border-radius: 5px;
}

