@import 'variables.scss';

.tracks__pane {
  background-color: $tracks-bg;
  padding: 10px 10px 15px 20px;
}

.tracks__heading {
  color: white;
  margin-top: 5px;
  margin-right: 20px;
}

.tracks__scroll-window {
  margin-top: 15px;
  padding: 0 10px 0 0;
  background-color: $tracks-bg;
  max-height: 350px;
  overflow-y: auto;
  border-radius: 5px;

  @media(min-width: 769px) {
    margin-right: 6px;
  }

  * {
    cursor: default;
  }
}

.tracks__table.table.table-condensed.table-hover {
  margin-bottom: 0;
  background-color: $tracks-bg;

  tbody > tr:hover {
    background-color: $bg-light;
  }

  tr > td {
    padding-top: 5px;
    padding-bottom: 5px;
    border-width: 0;
    border-bottom: 1px solid $bg-light;
    min-width: 40px;
  }

  td, th {
    font-family: $font-stack-copy;
    border-color: $bg-light;
    color: $text-light;
  }

  td {
    font-size: 14px;

    small {
      color: $gray;
    }
  }

  th {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 2px;
    border-width: 1px;
  }

  tr:first-of-type > td {
    border-top-width: 0;
  }
}
