@import 'variables.scss';

.tracks__pane {
  padding: 0px 10px 10px 10px;
}

.tracks__heading {
  margin-right: 20px;
}

.tracks__scroll-window {
  padding: 0 15px;
  background-color: $tracks-main;
  height: 346px;
  overflow-y: scroll;
  border-radius: 5px;

  @media(min-width: 769px) {
    margin-right: 20px;
  }

  * {
    cursor: default;
  }
}

.tracks__table.table.table-condensed {
  margin-bottom: 0;
  background-color: $tracks-main;

  tbody > tr:hover {
    background-color: $tracks-dark;
  }

  tr > td {
    padding-top: 3px;
    padding-bottom: 3px;
    border-width: 0;
  }

  td, th {
    color: $gray-darker;
    font-weight: bold;
    border-color: $gray;

    small {
      color: $gray;
    }
  }

  tr:first-of-type > td {
    border-top-width: 0;
  }
}
