.tracks__pane {
  padding: 0px 10px 10px 10px;
}

.tracks__heading {
  margin-right: 20px;
}

.tracks__scroll-window {
  padding: 0 15px;
  background-color: hsl(99, 12%, 64%);
  height: 346px;
  overflow-y: scroll;
  border-radius: 5px;

  @media(min-width: 769px) {
    margin-right: 20px;
  }

  * {
    cursor: default;
  }
}

.tracks__table.table.table-condensed {
  margin-bottom: 0;
  background-color: hsl(99, 12%, 64%);

  tr:hover {
    background-color: hsl(99, 7%, 54%);
  }

  tr > td {
    padding-top: 3px;
    padding-bottom: 3px;
    border-width: 0;
  }

  td, th {
    color: #121212;
    font-weight: bold;
    border-color: #555;

    small {
      color: #444;
    }
  }

  tr:first-of-type > td {
    border-top-width: 0;
  }
}
