@import 'variables';



@media (min-width: 769px) {
  .main-region{
    flex: 1 1 auto;
    width: 0;
  }

  .main-region__explore-tracks-flexbox {
    height: 99.5vh;
    min-height: 600px;
    display: flex;
    flex-direction: column;
  }

  .main-region__playlist-heading-row {
    width: 100%;
    order: 0;
    flex: 0 0 52px;
    padding: 10px 20px;
    background: linear-gradient(to bottom, $bg-light, $bg-main);
  }

  .main-region__tracks-row {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    flex: 1 1 auto;
  }

  .main-region__chart-row {
    width: 100%;
    flex: 0 0 330px;
  }
}

@media (max-width: 768px) {
  .main-region__explore-tracks-flexbox {
    padding-bottom: 20px;
  }

  .main-region__playlist-heading-row {
    padding: 10px 20px;
    background: linear-gradient(to bottom, $bg-light, $bg-main);
  }
}