@import 'variables';

.sidebar {
  display: flex;
  flex-direction: column;

  background-color: $bg-secondary;
  
  @media (min-width: 769px) {
    flex: 0 0 300px;
    height: 100vh;
    overflow-y: hidden;
  }
}

.sidebar__nav {
  background-color: $bg-secondary;
  flex: 0 0 auto;

  padding: 7px 5px 0px 5px;

  .nav-tabs{
    display: flex;
    
    border-bottom: 1px solid $bg-lighter;

    li {
      flex: 1;
      cursor: pointer;

      a {
        font-size: 12px;
        letter-spacing: 0.5px;
        border: 1px solid transparent;
        box-sizing: border-box;
        margin-bottom: 0;        

        &:hover {
          background-color: $bg-lighter;
          border-color: $bg-lighter;
        }
      }
    }

    li.active a {
      border: 1px solid $bg-lighter;
      background-color: $bg-light;

      &:hover {
        border-color: $bg-lighter;
      }
    }
  }

  @media (max-width: 768px) {
    width: 100vw;
    position: fixed;
    z-index: 3;
  }
}

.sidebar__content {
  flex: 1 1 auto;
  overflow-y: scroll;

  @media (max-width: 768px) {
    margin-top: 44px;
  }
}