@import 'variables.scss';

.auth-view__wrapper {
  max-width: 1500px;
  margin: 0 auto;
  // border: 1px solid $bg-light;
  background-color: $bg-main;
}

.auth-view__explore-tracks-region{
  background-color: $bg-light;

  @media(min-width: 769px) {
    padding: 0 15px 0 15px;
    min-height: 99.5vh;
  }
}

.auth-view__selected-tracks-count {
  margin-right: 16px;
  position: relative;
  bottom: 5px;
  font-size: 12px;
  color: $gray-lighter;
}

.auth-view__selected-tracks-count-wrapper {
  background-color: $bg-main;
  height: 20px;
}