@import 'variables.scss';

.sidebar {
  background-color: $bg-secondary;
  min-height: 99.5vh;
  padding: 7px 0 0 0;
  overflow: hidden;

  @media (min-width: 769px) {
    height: 99.5vh;
  }
}

.sidebar__controls {
  border-bottom: 1px solid $bg-light;
  padding: 5px 5px 0px 5px;
  margin-bottom: 8px;

  .nav-tabs{
    display: flex;
    font-size: 13px;

    li {
      flex: 1;
      cursor: pointer;

      a {
        border-bottom-color: $bg-lighter;

        &:hover {
          background-color: $bg-lighter;
          border-color: $bg-lighter;
        }
      }
    }

    li.active a {
      border-color: $bg-lighter;
      background-color: $bg-light;

      &:hover {
        border-color: $bg-lighter;
      }
    }
  }
}

.sidebar__save-pane {
  padding: 10px 25px;
}
