@import 'variables.scss';

.sidebar {
  @media (min-width: 769px) {
    flex: 0 0 300px;    
  }
  
  display: flex;
  flex-direction: column;

  background-color: $bg-secondary;
  padding: 7px 0 0 0;
  
  @media (min-width: 769px) {
    height: 100vh;
    overflow-y: hidden;
  }
}

.sidebar__controls {
  flex: 0 0 auto;

  padding: 5px 5px 0px 5px;

  .nav-tabs{
    display: flex;
    
    border-bottom: 1px solid $bg-lighter;

    li {
      flex: 1;
      cursor: pointer;

      a {
        font-size: 12px;
        letter-spacing: 0.5px;
        border: 1px solid transparent;
        box-sizing: border-box;
        margin-bottom: 0;        

        &:hover {
          background-color: $bg-lighter;
          border-color: $bg-lighter;
        }
      }
    }

    li.active a {
      border: 1px solid $bg-lighter;
      background-color: $bg-light;

      &:hover {
        border-color: $bg-lighter;
      }
    }
  }
}

.sidebar__content {
  flex: 1 1 auto;
  overflow-y: scroll;
  // height: 0px;
}

.sidebar__save-pane {
  padding: 25px 25px 40px 25px;
}
