@import 'variables';

.pre-auth-layout {
  min-height: 100vh;
  background-color: $bg-main;

  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 769px) {
    background-image: url('./clem-onojeghuo-173534.jpg');
  }
}

.pre-auth-layout__content {
  background-color: rgba($bg-main, 0.95);
  max-width: 700px;
  margin: 0 auto;
  padding: 25px;
  border-radius: 10px;

  h1 {
    margin-top: 0px;

    @media (max-width: 991px) {
      font-size: 30px;
    }
  }
}

.pre-auth-layout__for-spotify {
  font-size: 20px;

  img {
    position: relative;
    bottom: 2px;
    margin-left: 4px;
  }

  @media (max-width: 768px) {
    margin-top: -5px;
    margin-bottom: 21px;
    font-size: 14px;
    img {
      width: 70px;
      margin-left: 2px;
    }
  }
}

.pre-auth-layout__connect-btn {
  border-radius: 50px;
  background-color: darken($spotify-green, 5%);

  &:hover, &:hover:focus, &:hover:active {
    background-color: $spotify-green;
  }

  &:focus {
    background-color: darken($spotify-green, 2%);
  }

  &:active {
    background-color: darken($spotify-green, 2%);
  }
}
