.App {
  min-height: 100vh; }
  @media (min-width: 769px) {
    .App {
      height: 100vh; } }
  .App ::-webkit-scrollbar {
    background-color: #121212; }
  .App ::-webkit-scrollbar-thumb {
    background-color: #282828;
    border-radius: 20px;
    border: 2px solid #121212; }
    .App ::-webkit-scrollbar-thumb:hover {
      background-color: #383838; }
