@import 'variables';

.App {
  min-height: 100vh;
  
  @media (min-width: 769px) {
    height: 100vh;
  }

  ::-webkit-scrollbar {
    background-color: $bg-secondary;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $bg-light;
    border-radius: 20px;
    border: 2px solid $bg-secondary;

    &:hover {
      background-color: $bg-lighter;
    }
  }
}


