.App {
  max-width: 1400px;
}

.App>.container-fluid {
  background-color: #2B3E50;
  /*background-image: url('/bg-app3.png');*/
  /*max-width: 1400px;*/
  padding: 10px 0px;
  border-radius: 10px;
  height: 750px;
}

h4, h5 {
  /*color: #eee;*/
}
