.message {
  display: inline-block;
  border: 1px solid hsl(209, 15%, 40%);
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 50px;
}

.message.big {
  font-size: 24px;
  padding: 5px 10px;
  margin-top: 100px;
}

.fa.fa-check {
  color: #5CB85C;
  display: inline;
}