@import 'variables';

.playlists__pane {
  margin-top: 2px;
  // top: 50px;
  padding: 5px 12px 8px 6px;
  height: 100%;

  .playlists__item {
    color: darken($text-light, 15%);
    background-color: $bg-secondary;
    padding: 0px 6px 2px 12px;
    margin-top: 6px;
    margin-bottom: 6px;
    // border-top: 1px solid $bg-dim;
    cursor: pointer;

    &:first-of-type {
      z-index: 0 !important;
      border-width: 0;
    }

    &:hover {
      background-color: $bg-secondary;
      color: lighten($text-light, 15%);
    }

    &.active {
      cursor: default;
      background-color: $bg-secondary;
      box-shadow: -6px 0px 0px 0px $spotify-green;
      color: lighten($text-light, 15%);

      &:hover {
        background-color: $bg-secondary;
        color: lighten($text-light, 15%);
      }
    }
  }
}
