.filters__pane {
  padding: 0 25px;

  @media (max-width: 768px) {
    padding: 0 10px;
  }

  .fa.fa-question-circle {
    font-size: 14px;
  }

  h4 {
    color: #ddd;
    margin-top: 0;
  }
}

.filters__filter {
  border-top: 1px solid hsl(209, 15%, 20%);
  padding: 15px 5px;

  @media (max-width: 768px) {
    padding: 15px 0;  
  }
  
  &:first-of-type {
    border-top-width: 0;
  }
}

.filters__flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
}

.filters__flex-left {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
}

.filters__flex-right {
  order: 0;
  flex: 7 1 auto;
  align-self: auto;
}

.filters__checkbox {
  padding: 0;
  cursor: pointer;

  .fa.fa-line-chart {

    &.inactive {
      color: #555;

      &:hover {
        color: #999;
      }
    }

    &.danceability {
      color: #5bc0de;
    }
  
    &.energy {
      color: #d9534f;
    }

    &.valence {
      color: #5CB85C;
    }

    &.acousticness {
      color: #f0ad4e;
    }

    &.liveness {
      color: #DF691A;
    }

    &.instrumentalness {
      color: #EBEBEB;
    }
  }
}

.filters__filter-icon {
  width: 40px;
}

.filters__feature-info-tooltip {
  max-width: 350px;
}

// Range Input from rc-slider:

.rc-slider {
  position: relative;
  bottom: 0px;
}

.rc-slider.filters__range {
  width: 80%;
  margin: 0 auto;
}

.rc-slider.filters__range * {
  font-size: 14px;
}

.rc-slider .rc-slider-rail {
  background-color: hsl(120, 4%, 40%);
  height: 2px;
}

.rc-slider .rc-slider-track {
  width: 100%;
  height: 4px;
  bottom: 6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  box-shadow-color: #d9534f;
  background: #ababab;
  border-radius: 1.3px;
  border: 1px solid #010101;
}

.rc-slider .rc-slider-handle {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000001;
  height: 24px;
  width: 9px;
  background: #bbbbbb;
  -webkit-appearance: none;
  margin-top: -9.5px;
}

.rc-slider .rc-slider-handle-1 {
  border-radius: 6px 0 0 6px;
}

.rc-slider .rc-slider-handle-2 {
  border-radius: 0 6px 6px 0;
}

@media (max-width: 768px) {
  .rc-slider .rc-slider-handle {
    height: 30px;
    width: 12px;
    margin-top: -14px;
  }

  .rc-slider .rc-slider-handle-1 {
    border-radius: 8px 0 0 8px;
  }

  .rc-slider .rc-slider-handle-2 {
    border-radius: 0 8px 8px 0;
  }
}


// Range Tooltip:
.rc-slider-tooltip .rc-slider-tooltip-inner {
  background-color: rgba(0,0,0,0);
  box-shadow: none;
  color: #999;
  position: relative;
  bottom: 6px !important;
}

.rc-slider-tooltip-arrow {
  display: none;
}
