.sidebar {
  background-color: #1E2933;
  height: 100vh;
  padding: 7px 0 0 0;
}

.sidebar__content {
  /*padding: 0 25px;*/
}

.sidebar__controls {
  border-bottom: 1px solid hsl(209, 15%, 40%);
  padding: 5px 5px 0px 5px;
  margin-bottom: 8px;
  /*background-color: #333333;*/
}

.sidebar__controls h4 {
  margin-top: 0;
}

.nav li {
  cursor: pointer;
}

.sidebar__save-pane {
  padding: 10px 25px;
}