@import 'variables';

.chart__pane {
  padding-top: 10px;
  padding-left: 15px;
  min-width: 100px;

  @media (max-width: 768px) {
    padding-left: 0;
    padding-right: 10px;
  }
}

.recharts-default-legend {
  min-width: 175px;
  padding-left: 35px !important;

  .recharts-legend-item {
    letter-spacing: .5px;
    color: $text-light;
    margin-bottom: 5px;
  }
}
