
body {
  /*margin-top: 20px;*/
  padding: 0;
  font-family: sans-serif;
  background-color: #444;
  background-image: url('/bg-app.png');
  background-image: url('/eric-nopanen-208576.jpg');
  background-size: cover;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline-width: 0;
}

.table {
  background-color: hsl(99, 12%, 64%);
}

.table.table-hover tbody tr:hover {
  background-color: hsl(99, 7%, 54%);
}

.table * {
  color: #121212;
}

.table.table-condensed td,
.table.table-condensed th {
  font-weight: bold;
  border-color: #555;
}

.table * {
  border-color: #555;
}

h1, h2, h3 {
  
  font-family: 'Gotham',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

h4 {
  font-family: 'Audiowide', sans-serif;
}

.nav-tabs{
    display: flex;
    font-size: 13px;
}
.nav-tabs li {
    display: flex;
    flex: 1;
}

.nav-tabs li  a {
    flex: 1;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item.active {
  cursor: default;
}

.full-width {
  width: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}