@import 'variables.scss';

.playlists__pane {
  overflow-y: scroll;
  height: calc(100% - 50px);
  position: absolute;
  top: 50px;
  padding: 10px 12px 8px 12px;
}

.playlists__item {
  background-color: $bg-secondary;
  padding: 6px;
  border-top: 1px solid $bg-dim;
  cursor: pointer;

  &:first-of-type {
    border-width: 0;
  }

  &.active {
    cursor: default;
  }
}

