.pre-auth-view {
  background-image: url('../../img/clem-onojeghuo-173534.jpg');
  background-size: cover;
  height: 100vh;
  padding-top: 50px;
}

@media (max-width: 768px) {
  .pre-auth-view {
    padding-top: 0px;
    background-image: none;
  }
}

.pre-auth-view__container {
  max-width: 900px;
  border: 1px solid hsl(209, 15%, 40%);
  background-color: hsla(209, 30%, 24%, .92);
  margin-bottom: 20px;
  padding: 10px 30px 30px 30px;
  border-radius: 10px;
}
