@import 'variables.scss';

.pre-auth-view {
  background-image: url('./clem-onojeghuo-173534.jpg');
  background-size: cover;
  height: 100vh;
  padding-top: 50px;

  @media (max-width: 768px) {
    padding-top: 0px;
    background-image: none;
  }
}

.pre-auth-view__container {
  max-width: 900px;
  border: 1px solid $bg-light;
  background-color: rgba($bg-main, 0.92);
  margin-bottom: 20px;
  padding: 10px 30px 30px 30px;
  border-radius: 10px;
}

.pre-auth-view__btn {
  background-color: desaturate(darken($spotify-green, 15%), 10%);

  &:hover, &:hover:focus, &:hover:active {
    background-color: desaturate(darken($spotify-green, 22%), 10%);
  }

  &:focus {
    background-color: desaturate(darken($spotify-green, 15%), 10%);
  }

  &:active {
    background-color: desaturate(darken($spotify-green, 15%), 10%);
  }
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline-width: 0;
}