@import 'variables';

.instructions__wrapper {
  height: 100%;
  padding: 35px 25px 25px 25px;
}

.instructions {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;

  td {
    padding: 20px 25px;
    color: $text-light;

    @media (max-width: 768px) {
      padding: 15px 12px;
    }

    * {
      margin: 0;
    }

    img {
      width: 90px;

      @media (max-width: 768px) {
        width: 50px;
      }
    }

    .lead {
      @media (max-width: 768px) {
        margin-top: 3px;
      }
    }

    h3 {
      @media (max-width: 768px) {
        font-size: 20px;
      }
    }
  }
}

.instructions__connect-btn {
  border-radius: 50px;
  background-color: darken($spotify-green, 5%);

  &:hover, &:hover:focus, &:hover:active {
    background-color: $spotify-green;
  }

  &:focus {
    background-color: desaturate(darken($spotify-green, 22%), 10%);
  }

  &:active {
    background-color: desaturate(darken($spotify-green, 22%), 10%);
  }
}
